* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #212529;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    display: flex;
    height: 350px; 
}

.card:hover {
    transform: translateY(-8px);
}

.numero-card {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #e63946;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

    z-index: 10; 
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    cursor: pointer; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
}

.modal-conteudo {
    max-width: 90%;
    max-height: 95vh;
    object-fit: contain;
    border-radius: 5px;
    animation: zoom 0.3s ease;
}

/* Animação do zoom */
@keyframes zoom {
    from {transform: scale(0.8)} 
    to {transform: scale(1)}
}

/* O botão X de fechar */
.fechar-modal {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.fechar-modal:hover {
    color: #e63946;
}